@charset "UTF-8";
@font-face {
  font-family: 'NationalizeAlp';
  src: url("../fonts/NATIONALYZEALP.TTF");
}

div.player div.open div.name {
  position: absolute;
  left: -30px;
  top: -100px;
  width: 50px;
  font-size: 56px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  width: 60px;
  height: 240px;
}

div.player div.open div.nameLat {
  display: none;
  transform-origin: -5px 0px;
  transform: translate(55px, 0px);
}

div.player div.open div.paperRank {
  position: absolute;
  left: -50px;
  top: -134px;
  width: 100px;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  border-radius: 50px;
  background-color: black;
  border: solid 2px white;
}

div.player div.open div.pref {
  position: absolute;
  left: -50px;
  top: 110px;
  width: 100px;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  border-radius: 20px;
  background-color: black;
  border: solid 2px white;
}

div.player div.open div.o {
  position: absolute;
  left: -100px;
  top: -60px;
  width: 200px;
  font-size: 120px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -webkit-writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  font-size: 0px;
  font-weight: 900;
  color: lightblue;
}

div.player div.open div.o[value="1"] {
  transform: translate(-29px, -10px);
}

div.player div.open div.o[value="1"]::before {
  content: "○";
  font-size: 100px;
}

div.player div.open div.o[value="2"] {
  transform: translate(-3px, 0px);
}

div.player div.open div.o[value="2"]::before {
  content: "◎";
  vertical-align: middle;
  font-size: 120px;
}

div.player div.open div.x {
  display: none;
}

div.player div.open div.x[value="0"] {
  display: none;
}

div.player div.open div.x.pinch {
  color: lightpink;
}

div.player div.open div.x.hidepts {
  opacity: 0;
}

div.player div.open div.absent {
  position: absolute;
  left: 20px;
  top: -110px;
  width: 70px;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FFFF22;
  line-height: 50%;
  z-index: 1;
}

div.player div.open div.combo {
  position: absolute;
  left: -50px;
  top: -100px;
  width: 100px;
  font-size: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  font-size: 0px;
}

div.player div.open div.combo[value="1"] {
  height: 210px;
  border-style: solid;
  border-color: lightblue;
  border-width: 10px;
  background-color: rgba(0, 0, 0, 0);
  z-index: -100;
}

div.player div.open div.select {
  position: absolute;
  left: -50px;
  top: -100px;
  width: 100px;
  font-size: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  font-size: 0px;
}

div.player div.open div.select.selected {
  height: 210px;
  background-color: gold;
  z-index: -100;
}

div.player div.open div.x2 {
  position: absolute;
  left: -50px;
  top: 202px;
  width: 100px;
  font-size: 48px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
}

div.player div.open div.x2[value="0"] {
  display: none;
}

div.player div.open div.x2.pinch {
  color: lightpink;
}

div.player div.open div.x2.hidepts {
  opacity: 0;
}

div.player div.open div.o2 {
  position: absolute;
  left: -50px;
  top: -278px;
  width: 100px;
  font-size: 48px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
}

div.player div.open div.o2.chance {
  color: lightblue;
}

div.player div.open div.o2.hidepts {
  opacity: 0;
}

div.player div.open div.div {
  position: absolute;
  left: 25px;
  top: -270px;
  width: 100px;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  color: black;
  background: url("../img/div.png");
  background-size: 100px 60px;
  background-position: 0px 10px;
  background-repeat: no-repeat;
}

div.player div.open div.div[value="0"] {
  display: none;
}

div.player div.open div.chance_img {
  position: absolute;
  left: -50px;
  top: -250px;
  width: 100px;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0);
}

div.player div.open div.chance_img[value="true"] {
  background: url("../img/chance.png");
  background-size: 100px 50px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

div.player div.open div.star_img {
  position: absolute;
  left: -25px;
  top: -250px;
  width: 50px;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0);
}

div.player div.open div.star_img[value="true"] {
  background: url("../img/star.png");
  background-size: 50px 50px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

div.player div.open div.pinch_img {
  position: absolute;
  left: -25px;
  top: -250px;
  width: 50px;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0);
}

div.player div.open div.pinch_img[value="true"] {
  background: url("../img/pinch.png");
  background-size: 50px 50px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

div.player div.closed div.paperRank {
  position: absolute;
  left: -50px;
  top: -134px;
  width: 100px;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  border-radius: 50px;
  background-color: black;
  border: solid 2px white;
}

div.player div.rank img {
  position: absolute;
  left: -40px;
  top: -210px;
  width: 90px;
  height: 60px;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

div.player div.rank img.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  opacity: 0;
  -webkit-transform: rotateX(180deg);
}

div.player div.rank img.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.win {
  position: absolute;
  left: -30px;
  top: -75px;
  width: 60px;
  height: 166px;
  -webkit-user-select: none;
}

div.player div.status img.win.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.status img.win.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.lose {
  position: absolute;
  left: -37px;
  top: -80px;
  width: 75px;
  height: 182px;
  -webkit-user-select: none;
}

div.player div.status img.lose.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5) rotate(30deg);
}

div.player div.status img.lose.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.wait {
  position: absolute;
  left: -30px;
  top: -62px;
  width: 60px;
  height: 146px;
  -webkit-user-select: none;
}

div.player div.status img.wait.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.status img.wait.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.absent {
  position: absolute;
  left: -30px;
  top: -100px;
  width: 60px;
  height: 205px;
  -webkit-user-select: none;
  opacity: 0.7;
}

div.player div.motion img.o {
  position: absolute;
  left: -25px;
  top: -30px;
  -webkit-user-select: none;
  opacity: 0;
}

div.player div.motion img.o.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
  opacity: 1;
}

div.player div.motion img.o.ng-enter.ng-enter-active {
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.motion img.x {
  position: absolute;
  left: -25px;
  top: -30px;
  -webkit-user-select: none;
  opacity: 0;
}

div.player div.motion img.x.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
  opacity: 1;
}

div.player div.motion img.x.ng-enter.ng-enter-active {
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player hr.hr1 {
  display: none;
  display: none;
}

div.player hr.hr2 {
  display: none;
}

div.player div.action_o {
  position: absolute;
  left: -22px;
  top: -100px;
  opacity: 0.8;
  -webkit-user-select: none;
}

div.player div.action_x {
  position: absolute;
  left: -22px;
  top: 60px;
  opacity: 0.8;
  -webkit-user-select: none;
}

div.player div.action_win {
  position: absolute;
  left: -30px;
  top: 110px;
  opacity: 0.8;
  -webkit-user-select: none;
}

div.player div.action_lose {
  position: absolute;
  left: -10px;
  top: 110px;
  opacity: 0.8;
  -webkit-user-select: none;
}

div.player div.action_wait {
  position: absolute;
  left: 10px;
  top: 110px;
  opacity: 0.8;
  -webkit-user-select: none;
}

div.player div.action_s {
  position: absolute;
  left: -22px;
  top: -20px;
  opacity: 0.8;
  -webkit-user-select: none;
}
