@import "_rule.scss";

div.scoreboard {
  div.timer {
    @include score-div;
    top: 250px;
    margin-left: 2%;
    text-align: right;
    font-size: 150px;
  }
}

div.player {
  div.open {
    div.x {
      font-family: $font-family-default;
      font-size: 60px;
    }
  }
}