@import "_rule.scss";
$chance-color: lightblue;
$pinch-color: lightpink;
$win-color: gold;
$lose-color: gray;
$combo-color: gold;
div.player {
  div.open {
    div.name {
      @include player-item(-50, -100, 100, 56);
      width: 100px;
      height: 400px;
      background-image: linear-gradient(to right, #434343 0%, black 100%);
      &.selected {
        background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
        img {
          filter: brightness(0) invert(0);
        }
      }
      &.absent {
        transform: rotateY(360deg);
        background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
        img {
          filter: brightness(0) invert(0);
        }
      }
      &.win {
        transform: rotateY(360deg);
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
      }
      &.lose {
        transform: rotateY(-360deg);
        background-image: none;
        opacity: 0.5;
        filter: blur(2px);
      }
      transition: 2s;
    }

    div.nameLat {
      display: none;
      transform-origin: -5px 0px;
      transform: translate(55px, 0px);
    }

    div.paperRank {
      @include player-item(-50, -170, 100, 24);
      transform: rotateY(0deg);
      border-radius: 0px;
      color: black;
      @include value-range( 1, 4) {
        background-color: blue;
      }
      @include value-range( 5, 12) {
        background-color: cyan;
      }
      @include value-range(13, 24) {
        background-color: lightcyan;
      }
      @include value-range(25, 48) {
        background-color: white;
      }
      @include value-range(49, 300) {
        background-color: gray;
      }
      &.lose {
        transform: rotateY(-360deg);
        background-image: none;
        opacity: 0.5;
        filter: blur(2px);
      }
      transition: 2s;
    }
    div.pref {
      @include player-item(-60, -140, 120, 30);
      border-radius: 0px;
      background-color: rgba(0,0,0,0);
      transform: rotateY(0deg) scale(0.8, 1) translate(0px, 0px);
      &.lose {
        transform: rotateY(-360deg) scale(0.8, 1) translate(0px, 0px);
        filter: blur(2px);
        background-image: none;
        opacity: 0.5;
      }
      transition: 2s;
    }
    div.o {
      @include player-item(-50, 300, 100, 60);
      transform: rotateY(0deg);
      color: black;
      padding-top: 5px;
      background-color: aquamarine;
      &.win, &.lose {
        opacity: 0;
        transform: rotateY(180deg);
      }
      &.hidepts {
        opacity: 0;
        transform: rotateY(180deg);
      }
      transition: 1s;
    }
    div.x {
      @include player-item(-100, 380, 200, 40);
      transform: rotateY(0deg);
      font-family: monospace;
      &.win, &.lose {
        opacity: 0;
        transform: rotateY(180deg);
      }
      &.hidepts {
        opacity: 0;
        transform: rotateY(180deg);
      }
      transition: 1s;
    }
    div.absents {
      @include player-item(30, -100, 80, 80);
      @include bordered(1, #000000, #FFFF22);
      line-height: 50%;
      z-index: 1;
    }
    div.select {
      @include player-item(-50, -90, 100, 200);
      font-size: 0px;
    }
    div.x2 {
      @include player-item(-50, 440, 100, 40);
      @include value-range(0, 0) {
        display: none;
      }
      &.win, &.lose {
        opacity: 0;
        transform: rotateY(180deg);
      }
      &.hidepts {
        opacity: 0;
      }
    }
    div.x22 {
      @include player-item(-75, 450, 150, 24);
      font-family: monospace;
      &.win, &.lose {
        opacity: 0;
        transform: rotateY(180deg);
      }
      &.hidepts {
        opacity: 0;
      }
    }
    div.o2 {
      @include player-item(-100, -270, 200, 40);
      transform: rotateY(0deg);
      @include value-range(0, 0) {
        display: none;
      }
      &.chance {
        color: $chance-color;
      }
      &.hidepts {
        opacity: 0;
        transform: rotateY(180deg);
      }
      transition: 1s;
    }
    div.div {
      @include player-item(25, -270, 100, 50);
      @include value-range(0, 0) {
        display: none;
      }
      color: black;
      background: url('../img/div.png');
      background-size: 100px 60px;
      background-position: 0px 10px;
      background-repeat: no-repeat;
    }
    div.chance_img {
      @include player-item(-50,
      -250,
      100,
      50);
      @include img-show("chance.png",
      100px,
      50px);
    }
    div.star_img {
      @include player-item(-25,
      -250,
      50,
      50);
      color: rgba(0, 0, 0, 0);
      &[value="true"] {
        background: url("../img/star.png");
        background-size: 50px 50px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
      }
    }
    div.pinch_img {
      @include player-item(-25,
      -250,
      50,
      50);
      color: rgba(0, 0, 0, 0);
      &[value="true"] {
        background: url("../img/pinch.png");
        background-size: 50px 50px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
      }
    }
    div.o3 {
      @include player-item(-25,
      -337,
      50,
      40);
      border-radius: 25px;
      border-width: 2px;
      border-style: solid;
      line-height: 45px;
      letter-spacing: 0px;
      &.chance1 {
        color: $chance-color;
        border-color: $chance-color;
      }
      &.select1 {
        border-color: lime;
      }
      &.absent1 {
        color: black;
        border-color: black;
        background-color: gold;
      }
      &.hidepts {
        opacity: 0;
      }
    }
    div.o4 {
      @include player-item(15,
      -307,
      50,
      40);
      border-radius: 25px;
      border-width: 2px;
      border-style: solid;
      line-height: 45px;
      letter-spacing: 0px;
      &.chance2 {
        color: $chance-color;
        border-color: $chance-color;
      }
      &.select2 {
        border-color: lime;
      }
      &.absent2 {
        color: black;
        border-color: black;
        background-color: gold;
      }
      &.hidepts {
        opacity: 0;
      }
    }
    div.o5 {
      @include player-item(0,
      -260,
      50,
      40);
      border-radius: 25px;
      border-width: 2px;
      border-style: solid;
      line-height: 45px;
      letter-spacing: 0px;
      &.chance3 {
        color: $chance-color;
        border-color: $chance-color;
      }
      &.select3 {
        border-color: lime;
      }
      &.absent3 {
        color: black;
        border-color: black;
        background-color: gold;
      }
      &.hidepts {
        opacity: 0;
      }
    }
    div.o6 {
      @include player-item(-50,
      -260,
      50,
      40);
      border-radius: 25px;
      border-width: 2px;
      border-style: solid;
      line-height: 45px;
      letter-spacing: 0px;
      &.chance4 {
        color: $chance-color;
        border-color: $chance-color;
      }
      &.select4 {
        border-color: lime;
      }
      &.absent4 {
        color: black;
        border-color: black;
        background-color: gold;
      }
      &.hidepts {
        opacity: 0;
      }
    }
    div.o7 {
      @include player-item(-65,
      -307,
      50,
      40);
      border-radius: 25px;
      border-width: 2px;
      border-style: solid;
      line-height: 45px;
      letter-spacing: 0px;
      &.chance5 {
        color: $chance-color;
        border-color: $chance-color;
      }
      &.select5 {
        border-color: lime;
      }
      &.absent5 {
        color: black;
        border-color: black;
        background-color: gold;
      }
      &.hidepts {
        opacity: 0;
      }
    }
    div.o2x {
      @include player-item(-100,
      -310,
      200,
      40);
      transform: rotateY(0deg);
      &.chance {
        color: $chance-color;
      }
      &.hidepts {
        opacity: 0;
        transform: rotateY(180deg);
      }
      transition: 1s;
    }
    div.oFrac {
      @include player-item(40,
      -185,
      40,
      40);
      transform: rotateY(0deg);
      &.chance {
        color: $chance-color;
      }
      &.hidepts {
        opacity: 0;
        transform: rotateY(180deg);
      }
      transition: 1s;
    }
    div.pushed_img {
      @include player-item(-50,
      -100,
      100,
      210);
      @include img-show("select.png",
      100px,
      210px);
    }
  }
  div.closed {
    div.paperRank {
      @include player-item(-50, -170, 100, 24);
      height: 556px;
      transform: rotateY(0deg);
      border-radius: 0px;
      color: black;
      @include value-range( 1, 4) {
        background-color: crimson;
      }
      @include value-range( 5, 12) {
        background-color: royalblue;
      }
      @include value-range(13, 24) {
        background-color: yellow;
      }
      @include value-range(25, 48) {
        background-color: green;
      }
      @include value-range(49, 300) {
        background-color: gray;
      }
      &.lose {
        transform: rotateY(-360deg);
        background-image: none;
        opacity: 0.5;
        filter: blur(2px);
      }
    }
  }
  div.rank {
    img {
      @include player-img(-50,
      310,
      100,
      70);
      background-color: rgba(0, 0, 0, 0.5);
      transform: rotateY(0deg);
      @include fadein(1) {
        transform: rotateY(180deg);
      }
    }
  }
  div.status {
    display: none;
    img.win {
      @include player-img(-30,
      -75,
      60,
      166);
      opacity: 0.8;
      @include fadein(0.5) {
        transform: scale(1.5, 1.5);
      }
    }
    img.lose {
      @include player-img(-37,
      -80,
      75,
      182);
      opacity: 0.8;
      @include fadein(0.5) {
        transform: scale(1.5, 1.5) rotate(30deg);
      }
    }
    img.wait {
      @include player-img(-30,
      -62,
      60,
      146);
      opacity: 0.8;
      @include fadein(0.5) {
        transform: scale(1.5, 1.5);
      }
    }
    img.absent {
      @include player-img(-30,
      -90,
      60,
      205);
      opacity: 0.7;
    }
  }
  div.motion {
    img.o {
      @include player-img(-25,
      -30);
      @include fadeout(0.5) {
        transform: scale(1.5, 1.5);
      }
      &.hidepts {
        display: none;
      }
    }
    img.x {
      @include player-img(-25,
      -30);
      @include fadeout(0.5) {
        transform: scale(1.5, 1.5);
      }
      &.hidepts {
        display: none;
      }
    }
  }
  hr.hr1 {
    display: none;
    display: none;
  }
  hr.hr2 {
    display: none;
  }
  div.action_o {
    @include player-button(-22,
    -100);
  }
  div.action_x {
    @include player-button(-22,
    60);
  }
  div.action_win {
    @include player-button(-60,
    0);
  }
  div.action_lose {
    @include player-button(-20,
    0);
  }
  div.action_wait {
    @include player-button(20,
    0);
  }
  div.action_s {
    @include player-button(-22,
    -20);
  }
  div.action_plus {
    @include player-button(-30,
    0);
  }
  div.action_minus {
    @include player-button(10,
    0);
  }
}